<div {{attributes}}>
<button
                data-action="live#deleteUser"
                data-user-id="{{ user.id }}"
                class="btn btn-link text-danger btn-sm ml-2"
                type="button"
            >Delete</button>
</div>