{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {{ component('create_user') }}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            {{ component('list_user') }}
        </div>
    </div>

{% endblock %}
